@import url('https://fonts.googleapis.com/css?family=Hammersmith+One|Playfair+Display:400,700|Roboto');

/*


    font-family: 'Playfair Display', serif;

    font-family: 'Hammersmith One', sans-serif;

    font-family: 'Roboto', sans-serif;



*/
.body {
    margin: 0;
}

*, ::after, ::before {
    box-sizing: border-box;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

.main-wrapper {
    background: url('../img/banner.png') no-repeat center;
    background-size: cover;
}

.main-wrapper-overlay {
    background: url('../img/l2.png') no-repeat center;
    background-size: cover;
    opacity: 0.7;
}

.slider {
    padding: 70px 0 120px 0;
    text-align: center;
    margin-bottom: 0;
}

.slider-item__title-h1 {
    color: #ffffff;
    font-family: 'Playfair Display', serif;
    font-size: 32px;
    font-weight: 400;
}

.slider-item__content {
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
}

.slider-item__button button {
    width: 120px;
    background: #b9b9b900;
    border: 2px solid #00e0d0;
    padding: 10px 0;
    color: #00e0d0;
    font-family: 'Hammersmith One', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
}


.slick-dots {
    bottom: 0;
}

.img-wrapper__item{
    display: inline-block;
   /* width: 100px;*/
    margin: 15px;
    position: relative;
    cursor: pointer;
}

.img-wrapper__item:before{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top:0;
    bottom: 0;
    background: rgba(63,72,80,0.8);
    opacity: 0;

}
.img-wrapper__item:hover:before{

    opacity: 1;
}
.plus{
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 32px;
    height: 32px;
}
.plus:after{
    content: '';
    height: 2px;
    background: red;
    width: 32px;
    top: 50%;
    position: absolute;
    transform: translateY(-50%);

}
.plus:before{
    content: '';
    width: 32px;
    height: 2px;
    background: red;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(90deg);
}
