@import url('https://fonts.googleapis.com/css?family=Hammersmith+One|Playfair+Display:400,700|Roboto');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

/*


    font-family: 'Playfair Display', serif;

    font-family: 'Hammersmith One', sans-serif;

    font-family: 'Roboto', sans-serif;



*/
body {
    margin: 0;
}

*, ::after, ::before {
    box-sizing: border-box;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

.header {
    position: relative;
    background: url('../img/banner.png') no-repeat center;
    background-size: cover;
}

.header:before {
    /*  content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: rgba(58, 33, 81, 0.58);*/
}

.header-top {
    padding: 20px 0;
    background: rgba(58, 33, 81, 0.58);

}

.logo img {
    float: left;

}

.nav-items {
    float: right;
    font-size: 0;
    padding-top: 20px;
}

.nav-items li {
    display: inline-block;
    font-size: 13px;

}

.nav-items li .nav-items__link {
    display: block;
    padding: 0 10px 0 10px;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
}

.nav-items li a:hover,
.nav-items li a.active {
    color: #00e0d0;
}

li a.nav-items__link:last-child {
    padding: 0 0 0 10px;
}

.slider-item__content {
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
}

.slider-item__title-h1 {
    color: #ffffff;
    font-family: 'Playfair Display', serif;
    font-size: 32px;
    font-weight: 400;
}

/*.plus{
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 32px;
    height: 32px;
}
.plus:after{
    content: '';
    height: 2px;
    background: red;
    width: 32px;
    top: 50%;
    position: absolute;
    transform: translateY(-50%);

}
.plus:before{
    content: '';
    width: 32px;
    height: 2px;
    background: red;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(90deg);
}*/
